h1{
	text-align:center;
}

#center-box{
	border-radius:1em;
	background-color:#ccc;
	width:90%;
	margin:0 auto;
}

#center-box.padded{
	padding:1em;
}

.inline-box{
	display:inline-block;
	text-align:left;
	vertical-align:top;
}

.inline-box input {
	width:6em;
}

#pass-rep-sp{
	display:none;
}

#user-forms{
	text-align:center;
	margin-bottom:1em;
}

#headmenu{
	text-align:center;
	padding-top:1em;
	padding-bottom:1em;
}

#headmenu .item{
	text-decoration:none;
	background-color:#eee;
	border-radius:0.2em;
	display:inline-block;
	padding:0.5em;
}

#headmenu .item:hover{
	background-color:#fefefe;
}

.section{
	background-color:#ddd;
	padding:1em;
}

#foot{
	padding:1em;
	font-size:90%;
}