h1{
	text-align:center;
}

h2,h3{
	margin:0;
	padding:0;
	color:#333;
}

h3{
	font-size:90%;
	font-style:italic;
	font-weight:normal;
	color:#666;
}

#center-box{
	border-radius:1em;
	background-color:#ccc;
	width:90%;
	margin:0 auto;
}

.padded{
	padding:1em;
}

#center-box  table {
	width:100%;
	text-align:left;
}

#center-box table th {
	border-bottom:1px solid #d0d0d0;
}

.inline-box{
	display:inline-block;
	text-align:left;
	vertical-align:top;
	padding:1em;
}

.inline-box input {
	width:6em;
}

#pass-rep-sp{
	display:none;
}

#user-forms{
	text-align:center;
}

#headmenu{
	text-align:center;
	padding-top:1em;
	padding-bottom:1em;
}

#headmenu .item{
	text-decoration:none;
	background-color:#eee;
	border-radius:0.2em;
	display:inline-block;
	padding:0.5em;
}

#headmenu .item:hover{
	background-color:#fefefe;
}

.section{
	background-color:#ddd;
	padding:1em;
}

#foot{
	padding:1em;
	font-size:90%;
}

.note{
	font-size:80%;
	font-style:italic;
}

.form-entry{
	text-align:right;
	background-color:#ddd;
	padding:1em;
}

.form-entry .input, .form-entry .description{
	display:inline-block;
	vertical-align:top;
}

.form-entry .description{
	width:50%;
	padding-left:1em;
	margin-left:1em;
	border-left:0.2em solid #888;
	text-align:left;
}

.box-attach{
	padding:0.3em;
	background-color:#ddd;
	font-weight:bold;
	display:inline-block;
}

.icebreaker{
	clear:both;
}